// .dark-mode-toggle {
//     background-color: #333;
//     color: #fff;
//     border: none;
//     padding: 8px 16px;
//     cursor: pointer;
// }

// /* Stile del pulsante quando è attivo (modalità scura) */
// .dark-mode-toggle.active {
//     background-color: #000;
// }
/* ! Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// :focus {
//     outline: .375rem double black;
//     background-color: yellow;
//     padding: 2px;
//     box-shadow: 0 0 0 .25rem white;
//     border-radius: .125rem;
//   }

.inter-typo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

$font-stack: 'Inter', sans-serif;
$accent-color: #FB43B0;
$primary-color: #18678b;
$secondary-color: #4962E9;
$black-color: #0f0f0f;
$white-color: #f0f0f0;

body { 
    background-color: $white-color;
    font-family: $font-stack, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: $black-color;
}
*,*:before,*:after{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6, p, ol, ul {margin: 0;padding: 0;}
ol,ul {list-style-type: none;}
img{height: auto;}
h1{font-size: 4rem;} 
// h2{font-size: 2rem;} 
// h3{font-size: 1rem;} 
// h4{font-size: 1rem;}
// h5{font-size: 0.8rem;}
// h6{font-size: 0.6rem;}

// @note HEADER
.nav-container{ 
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-between;
    color: #000;
    font-weight: 400;
    padding: 20px 20px 0;
    .logo {
        width: 40px;
    }
  
    li, ul{
        list-style-type: none;
        padding: 0;
        margin: 0;  
    }
    .menu-container {
        width: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 10px;
        .dark-mode-toggle{
            aspect-ratio: 1;
            width: 25px;
        }
        button {
            font-family: $font-stack;
            justify-content: center;
            border-radius: 10px;
            background-color: $accent-color;
            color: $white-color;
            align-self: stretch;
            white-space: nowrap;
            padding: 10px;
          }
    }
    }
    
.hero {
    // width: 100%;
    display: flex;
    flex-direction: column;
    
        .tag {
            background-color: $accent-color;
            background-color: $secondary-color;
            border-radius: 10px;
            padding: 10px;
            font: $font-stack, sans-serif;
            justify-content: center;
            align-self: start;
        }
    }
    .links {
        align-items: start;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        .social-icons {
        justify-content: center;
        display: flex;
        gap: 10px;
        }
        .link-linkedin,
        .link-behance,
        .link-pinterest {
          aspect-ratio: 1;
          object-fit: auto;
          object-position: center;
          width: 30px;
          }
        }
      
    // .project-card{
    //     position: relative;
        // padding: 20px;
        
//         .project-label {
//             display: flex;
//             color: $white-color;
//             background-color: $accent-color;
//             position: absolute;
//             margin: 20px;
//             padding: 0 10px;
//             width: 180px;
//             justify-content: center;
//             opacity: 90%;
//             gap: 1em;
//             // filter: blur(5px);
            
//             .label-text{
//                 align-self: center;
//                 margin: 0;
//             }
//             .label-icon {
//                 align-self: center;
//                 width: 30px;
//             }
        
//         .project-image{
//             width: 100%;
//             border-radius: 10px;
//         }

.projects {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.card{
    padding:40px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 10px;
    overflow: hidden;   // maschera l'immagine con la card
    // margin: 0 15px 30px 15px;
    // min-height: 450px; 
}
.card__img{
    min-height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    background-position: center center;
    background-size:cover;
    margin: -20px -20px 20px -20px;
}