.formcarry-container {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  width: 400px;
  /* NORMAL */
  --fc-border-color: #ECEFF9;
  --fc-normal-text-color: #0E0B3D;
  --fc-normal-placeholder-color: #B3B8D0;
  /* PRIMARY COLOR | HSL FORMAT*/
  --fc-primary-color-hue: 220;
  --fc-error-color-hue: 356;
  --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
  --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;
  /* HOVER */
  --fc-field-hover-bg-color: #F7F9FC;
  --fc-border-hover-color: #DDE0EE;
  --fc-field-hover-text-color: #B3B8D0;
  --fc-border-active-color: #1463FF;
}

.formcarry-container * {
  box-sizing: border-box;
}

.formcarry-container label {
  display: block;
  cursor: pointer;
}

.formcarry-container .formcarry-block:not(:first-child) {
  margin-top: 16px;
}

/*=============================================
=            Fields           =
=============================================*/
.formcarry-container input,
.formcarry-container textarea,
.formcarry-container select {
  margin-top: 4px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--fc-border-color);
  color: var(--fc-normal-text-color);
  border-radius: 6px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: 125ms background, 125ms color, 125ms box-shadow;
}

.formcarry-container textarea {
  min-height: 188px;
  max-width: 100%;
  padding-top: 12px;
}

.formcarry-container input::placeholder,
.formcarry-container textarea::placeholder,
.formcarry-container select::placeholder {
  color: var(--fc-normal-placeholder-color);
}

.formcarry-container input:hover,
.formcarry-container textarea:hover,
.formcarry-container select:hover {
  border-color: var(--fc-border-hover-color);
  background-color: var(--fc-field-hover-bg-color);
}

.formcarry-container input:hover::placeholder,
.formcarry-container textarea:hover::placeholder,
.formcarry-container select:hover::placeholder {
  color: var(--fc-field-hover-text-color);
}

.formcarry-container input:focus,
.formcarry-container textarea:focus,
.formcarry-container select:focus {
  background-color: #fff;
  border-color: hsl(var(--fc-primary-hsl));
  box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
  outline: none;
}

.formcarry-container select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
  /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
  background-size: 24px 24px;
  background-position: 98%;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 42px;
  line-height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid hsla(var(--fc-primary-hsl));
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
}

.formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  transition: 125ms all;
}

.formcarry-container button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
  border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}

.formcarry-container button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
}

.formcarry-container button:disabled {
  background-color: hsla(var(--fc-primary-hsl), 40%);
  cursor: not-allowed;
}

.formcarry-container input:focus:required:invalid,
.formcarry-container input:focus:invalid,
.formcarry-container select:focus:required:invalid,
.formcarry-container select:focus:invalid {
  color: hsl(var(--fc-error-hsl));
  border-color: hsl(var(--fc-error-hsl));
  box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}

@font-face {
  font-family: "U";
  src: url("../assets/font/Inter/Inter-VariableFont_slnt,wght.ttf");
  src: local("Inter"), url("../font/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 50;
  box-sizing: border-box;
}

.sunnee {
  background-image: url("../../assets/img/copertina-sunnee.jpg");
}

.ecodream {
  background-image: url("../../assets/img/copertina-ecodream.jpg");
}

.dea {
  background-image: url("../../assets/img/Logo-dea.svg");
}

.academy {
  background-image: url("../../assets/img/copertina-curiosity-academy.svg");
}

body {
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  background-color: #fdfdfd;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}
a :active {
  background-color: #5688F4;
}
a :active :hover {
  color: #fdfdfd;
  background-color: #8d165e;
}

.btn, button {
  background-color: #6000F0;
  font-family: "Inter", sans-serif;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  border-radius: 12px;
}

.cv {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

.nav-container {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  color: #0f0f0f;
  font-weight: 400;
  padding: 20px 20px 0;
}
.nav-container .logo {
  width: 40px;
}
.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-container .menu-container {
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.hero .tags {
  display: flex;
  font-size: small;
  gap: 12px;
  border-radius: 12px;
  justify-content: center;
  align-self: start;
}
.hero .tags .tag-1 {
  color: #5688F4;
  border: 2px, solid #5688F4;
  border-radius: 12px;
  padding: 3px;
}
.hero .tags .tag-2 {
  color: #9B8DEC;
  border: 2px, solid #9B8DEC;
  border-radius: 12px;
  padding: 3px;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.links {
  align-items: start;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.links .social-icons {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.links .link-linkedin,
.links .link-behance,
.links .link-pinterest {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 36px;
}

.cv-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cv-links .github, .cv-links .linkedin {
  width: 24px;
}

.projects-section .card {
  padding: 32px;
  margin: 0px 0px 0px 0px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fdfdfd;
  border: none;
  height: fit-content;
}
.projects-section .card .card__img {
  min-height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  background-position: center center;
  background-size: cover;
  margin: -20px -20px 20px -20px;
}

.card:hover {
  color: #6000F0;
  background-color: #fdfdfd;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1); /* Modifica la grandezza dell'immagine */
  transition: transform 0.2s ease;
  z-index: 2;
}

.card:active {
  color: #9B8DEC;
}

.altro {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

footer {
  background-color: rgba(24, 103, 139, 0.1176470588);
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #0f0f0f;
  margin-top: 20px;
  padding: 40px;
  /*=============================================
  =            Fields           =
  =============================================*/
}
.footer p {
  color: #0f0f0f;
  font-size: smaller;
  opacity: 80%;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .formcarry-container {
  box-sizing: border-box;
  margin: 40px auto 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  width: 400px;
  /* NORMAL */
  --fc-border-color: #ECEFF9;
  --fc-normal-text-color: #0E0B3D;
  --fc-normal-placeholder-color: #B3B8D0;
  /* PRIMARY COLOR | HSL FORMAT*/
  --fc-primary-color-hue: 220;
  --fc-error-color-hue: 356;
  --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
  --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;
  /* HOVER */
  --fc-field-hover-bg-color: #96559c;
  --fc-border-hover-color: #DDE0EE;
  --fc-field-hover-text-color: #B3B8D0;
  --fc-border-active-color: $accent-color;
}
.footer .formcarry-container * {
  box-sizing: border-box;
}
.footer .formcarry-container label {
  display: block;
  cursor: pointer;
}
.footer .formcarry-container .formcarry-block:not(:first-child) {
  margin-top: 16px;
}
.footer .formcarry-container input,
.footer .formcarry-container textarea,
.footer .formcarry-container select {
  margin-top: 4px;
  width: 100%;
  height: 42px;
  border: 1px solid var(--fc-border-color);
  color: var(--fc-normal-text-color);
  border-radius: 6px;
  padding: 8px 12px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: 125ms background, 125ms color, 125ms box-shadow;
}
.footer .formcarry-container textarea {
  min-height: 188px;
  max-width: 100%;
  padding-top: 12px;
}
.footer .formcarry-container input::placeholder,
.footer .formcarry-container textarea::placeholder,
.footer .formcarry-container select::placeholder {
  color: var(--fc-normal-placeholder-color);
}
.footer .formcarry-container input:hover,
.footer .formcarry-container textarea:hover,
.footer .formcarry-container select:hover {
  border-color: var(--fc-border-hover-color);
  background-color: var(--fc-field-hover-bg-color);
}
.footer .formcarry-container input:hover::placeholder,
.footer .formcarry-container textarea:hover::placeholder,
.footer .formcarry-container select:hover::placeholder {
  color: var(--fc-field-hover-text-color);
}
.footer .formcarry-container input:focus,
.footer .formcarry-container textarea:focus,
.footer .formcarry-container select:focus {
  background-color: #fff;
  border-color: hsl(var(--fc-primary-hsl));
  box-shadow: hsla(var(--fc-primary-hsl), 8%) 0px 0px 0px 3px;
  outline: none;
}
.footer .formcarry-container select {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
  /* background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px); */
  background-size: 24px 24px;
  background-position: 98%;
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
}
.footer .formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 42px;
  line-height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid hsla(var(--fc-primary-hsl));
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
}
.footer .formcarry-container button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  height: 40px;
  line-height: 24px;
  width: 100%;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: hsla(var(--fc-primary-hsl));
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
  transition: 125ms all;
}
.footer .formcarry-container button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
}
.footer .formcarry-container button:focus {
  background: linear-gradient(0deg, rgba(1, 4, 134, 0.2), rgba(40, 11, 119, 0.2)), hsla(var(--fc-primary-hsl));
  border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
}
.footer .formcarry-container button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
}
.footer .formcarry-container button:disabled {
  background-color: hsla(var(--fc-primary-hsl), 40%);
  cursor: not-allowed;
}
.footer .formcarry-container input:focus:required:invalid,
.footer .formcarry-container input:focus:invalid,
.footer .formcarry-container select:focus:required:invalid,
.footer .formcarry-container select:focus:invalid {
  color: hsl(var(--fc-error-hsl));
  border-color: hsl(var(--fc-error-hsl));
  box-shadow: 0px 0px 0px 3px hsla(var(--fc-error-hsl), 12%);
}
.footer .indietro {
  margin-bottom: 64px;
}