/* ! Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-typo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

img {
  height: auto;
}

h1 {
  font-size: 4rem;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 112.5%;
  padding: 20px 20px 0;
}
.nav-container .logo {
  width: 40px;
  height: 40px;
}
.nav-container li, .nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-container .menu-container {
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.nav-container .menu-container .dark-mode-toggle {
  aspect-ratio: 1;
  width: 25px;
}
.nav-container .menu-container button {
  font-family: "Inter", sans-serif;
  justify-content: center;
  border-radius: 10px;
  background-color: #FB43B0;
  color: #f0f0f0;
  align-self: stretch;
  white-space: nowrap;
  padding: 10px;
}

.hero {
  width: 100%;
  flex-direction: column;
  padding: 40px 20px 0;
  display: flex;
}
.hero .tag {
  background-color: #FB43B0;
  background-color: #4962E9;
  justify-content: center;
  align-self: start;
  border-radius: 10px;
  padding: 10px;
  font: 400 16px/112.5% Inter, sans-serif;
}

.links {
  align-items: start;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.links .social-icons {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.links .link-linkedin,
.links .link-behance,
.links .link-pinterest {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 30px;
}

.project-card {
  position: relative;
  padding: 20px;
}
.project-card .project-label {
  color: #f0f0f0;
  background-color: #FB43B0;
  display: flex;
  position: absolute;
  margin: 20px;
  padding: 0 10px;
  width: 180px;
  justify-content: center;
  opacity: 90%;
  gap: 1em;
}
.project-card .project-label .label-text {
  align-self: center;
  margin: 0;
}
.project-card .project-label .label-icon {
  align-self: center;
  width: 30px;
}
.project-card .project-image {
  width: 100%;
  border-radius: 10px;
}

.card {
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 15px 30px 15px;
  min-height: 450px;
}

.card__img {
  min-height: 200px;
  display: block;
  background-position: center center;
  background-size: cover;
  margin: -20px -20px 20px -20px;
}