/* ! Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-typo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: #f0f0f0;
  font-family: "Inter", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0f0f0f;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

.nav-container {
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  color: #0f0f0f;
  font-weight: 400;
  padding: 20px 20px 0;
}
.nav-container .logo {
  width: 40px;
}
.nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-container .menu-container {
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.nav-container .menu-container .toggle-button {
  aspect-ratio: 1;
  width: 25px;
}
.nav-container .menu-container .btn {
  font-family: "Inter", sans-serif;
  justify-content: center;
  border-radius: 10px;
  background-color: #FB43B0;
  color: #f0f0f0;
  align-self: stretch;
  white-space: nowrap;
  padding: 5px;
}

.hero {
  display: flex;
  flex-direction: column;
}
.hero .tag {
  background-color: #FB43B0;
  background-color: #4962E9;
  border-radius: 10px;
  padding: 10px;
  font: "Inter", sans-serif, sans-serif;
  justify-content: center;
  align-self: start;
}

.links {
  align-items: start;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.links .social-icons {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.links .link-linkedin,
.links .link-behance,
.links .link-pinterest {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 30px;
}

.projects-section {
  padding: 0;
}
.projects-section .card {
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: auto;
}
.projects-section .card .card__img {
  min-height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  background-position: center center;
  background-size: cover;
  margin: -20px -20px 20px -20px;
}

.card:hover {
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); /* Modifica la grandezza dell'immagine */
  transition: transform 0.2s ease;
}

.altro {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #0f0f0f;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}